@model Object;

<!DOCTYPE html>
<html>
<head>
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
	<div class="margin-left margin-top">
		<h1>@ViewData["Title"]</h1>
		<p class="text-dark-grey">@ViewData["Error"]</p>
	</div>
</body>
</html>